@charset "UTF-8";
section {
	width: 100%;
	padding: 30px 0;
	}

#section_wrap {
	width: 1000px;
	/* height: 700px; */
	margin: 0 auto;
	}

#section_wrap .word {
	text-align: center;
	font-weight: bolder;
	margin: 20px 0;
	}

#section_wrap .content img {
	max-width: 1000px;
	}
	
/* 자동차 상품 CSS 추가 부분 */

/* 개별 자동차 카드 */
#section_wrap .carList {
	display:flex;
	flex-wrap:wrap;
	justify-content: left;
	gap:30px;
	width:1000px;
}
#section_wrap .carList .carItem {
	width: 220px;
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
}

/* 자동차 이미지 */
#section_wrap .carList .carItem img {
	width: 100%;
	height: 140px;
	object-fit: cover;
}

/* 자동차 이름 */
.carName {
	margin-top: 10px;
	font-weight: bold;
	font-size: 14px;
}

/* 자동차 가격 */
.carPrice {
	margin-top: 5px;
	font-size: 13px;
	color: #555;
}	
	
	